<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575695088801-fifd2gdspgbcv5na0v9ptsc02h7gdlej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575695088801-fifd2gdspgbcv5na0v9ptsc02h7gdlej</string>
	<key>API_KEY</key>
	<string>AIzaSyBfj7S9HcQ1kPl8FoYlQ9Kj1LnpOzYOyw8</string>
	<key>GCM_SENDER_ID</key>
	<string>575695088801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopliftingApp</string>
	<key>PROJECT_ID</key>
	<string>retaillift-8ea18</string>
	<key>STORAGE_BUCKET</key>
	<string>retaillift-8ea18.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575695088801:ios:bc9dbb762a8a079f9854e0</string>
	<key>DATABASE_URL</key>
	<string>https://retaillift-8ea18-default-rtdb.firebaseio.com</string>
</dict>
</plist>